<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Prueba Php</title>
</head>
<body ng-app="Prueba">
	<div ng-view>
		
	</div>




	<script src="components/angular.min.js"></script>
	<script src="components/angular-resource.min.js"></script>
	<script src="components/angular-route.min.js"></script>


	<script src="scripts/router.js"></script>
	<script src="scripts/controllers/empresa.js"></script>
	<script src="scripts/services/empresaService.js"></script>

	<script src="assets/js/jquery-3.2.1.min.js"></script>

</body>
</html>